.blog-list-cards {
    display: flex;
    flex-wrap: wrap;
}
@media screen and (min-width: 992px) {
    .blog-card--2col {
        width: 50%;
    }
}
@media screen and (min-width: 768px) {
    .blog-card:not(.homepage-blog) {
        padding: .3125rem 0;
    }
}
.blog-card {
    display: flex;
    width: 100%;
}
.blog-card__box {    
    padding: .875rem;
    color: var(--bs-body-color);
    background-color: #1e1e1e;

    border: 1px solid #666666;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    border-width: 0 0 1px;
}
.blog-card__box h1 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
}
.homepage-blog .blog-card__box h1 {
    margin-bottom: 0.25rem;
}
.blog-card__box .entry-meta {
    font-size: .875rem;
    margin-top: 1rem;
}
.homepage-blog .blog-card__box .entry-meta {
    margin-top: .5rem;
}