.dropdown-toggle { outline: 0; }

:root {
    --guide-sidebar-width: 200px;
}

.guide-sidebar .inner {
    width: var(--guide-sidebar-width);
    border-right: 1px solid #323232 !important;
    border-bottom: 1px solid #424242 !important;
    border-radius: 4px;
    margin: 4px 8px;

    position: fixed;
    left: -300px;
    transition: 200ms;
}
.guide-sidebar-title {
    display: flex;

    text-decoration: none;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    align-items: center;

    border-bottom: 1px solid #495057;
}
@media (prefers-color-scheme: light), (color-scheme: light) {
    .guide-sidebar .inner {
        border-right-color: #cecece !important;
        border-bottom-color: #bebebe !important;
    }
    .guide-sidebar-title {
        border-bottom-color: #b6afa8;
    }
}
.guide-sidebar-title * {
    display: inline;
}
.guide-sidebar[show] .inner {
    display: block;
    left: 0;
}
.guide-sidebar .collapse {
    display: inline;
    position: fixed;
    left: -calc(-var(--guide-sidebar-width) + (32px + 7px));
    border-radius: 4px !important;
    margin-top: -32px;
    border-color: rgba(255,255,255,0.15);
    color: rgba(255,255,255,0.65);
    transition: 200ms;
}
.guide-sidebar[show] .collapse {
    left: calc(var(--guide-sidebar-width) - 32px + 7px);
}
.guide-sidebar .collapse:hover {
    background-color: var(--bs-btn-bg) !important;
}
.guide-sidebar[show] .uncollapse {
    display: none;
}
.guide-sidebar .uncollapse {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.guide-sidebar .bi-book {
    width: 20px;
    height: 20px;
}

.guide-content {
    height: calc(100vh - 57px - 3rem);
    margin-top: 3rem;
}
.guide-content-inner {
    min-height: 50vh;
}
.guide-content-footer {
    padding-bottom: 3rem;
    margin-top: 3rem;
}
.guide-content-footer * {
    margin-right: 4rem;
}
@media (min-width: 700px) {
    .guide-sidebar .inner {
        display: block;

        position: initial;
        left: 0;
    }
    .guide-sidebar .collapse {
        display: none;
    }
    .guide-sidebar .uncollapse {
        display: none;
    }
}
@media (max-width: 700px) {
    .guide-sidebar .inner {
        position: fixed !important;
    }
}

.btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
    background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
    background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: var(--bs-tertiary-bg);
}

.scrollarea {
    overflow-y: auto;
}