body {
    background-color: #121212;
    color: #fafafa;
}

.navbar {
    background: #212121 !important;
    border-bottom: 1px solid #424242 !important;
}

.d-inline * {
    display: inline;
    margin-right: 0.25rem;
}