@import "bootstrap.css";

body {
    background-color: #121212;
    color: #fafafa;
}
.demo-img {
    width: 100%;
    border-radius: 8px;
}
.guide-img {
    max-width: 80%;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 0.8rem 0 rgba(0, 0, 0, 0.5), 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.19);
}

.navbar {
    
    background: var(--grad-top);
    background: -moz-linear-gradient(180deg, #212121 0%, #121212 100%);
    background: -webkit-linear-gradient(180deg, #212121 0%, #121212 100%);
    background: linear-gradient(180deg, #212121 0%, #121212 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#212121",endColorstr="#121212",GradientType=1);

    border-bottom: 1px solid #424242 !important;
}

.d-inline * {
    display: inline;
    margin-right: 0.25rem;
}
