body {
    background-color: #121212;
    color: #fafafa;
}

.navbar {
    background: #212121 !important;
    border-bottom: 1px solid #424242 !important;
}

.d-inline * {
    display: inline;
    margin-right: 0.25rem;
}

@media screen and (max-width: 768px) {
    .col.is-full-mobile {
      flex: none;
      width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    .col.is-full-mobile {
      flex: none;
      width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    .col.is-full-mobile {
      flex: none;
      width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    .col.is-full-mobile {
      flex: none;
      width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    .col.is-full-mobile {
      flex: none;
      width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    .col.is-full-mobile {
      flex: none;
      width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    .col.is-full-mobile {
      flex: none;
      width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    .col.is-full-mobile {
      flex: none;
      width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    .col.is-full-mobile {
      flex: none;
      width: 100%;
    }
  }
  @media screen and (min-width: 769px), print {
    .col.is-half, .col.is-half-tablet {
      flex: none;
      width: 50%;
    }
  }
  @media screen and (min-width: 769px), print {
    .col.is-half, .col.is-half-tablet {
      flex: none;
      width: 50%;
    }
  }
  @media screen and (min-width: 769px), print {
    .col.is-half, .col.is-half-tablet {
      flex: none;
      width: 50%;
    }
  }
  @media screen and (min-width: 769px), print {
    .col.is-half, .col.is-half-tablet {
      flex: none;
      width: 50%;
    }
  }
  @media screen and (min-width: 769px), print {
    .col.is-half, .col.is-half-tablet {
      flex: none;
      width: 50%;
    }
  }
  @media screen and (min-width: 769px), print {
    .col.is-half, .col.is-half-tablet {
      flex: none;
      width: 50%;
    }
  }
  @media screen and (min-width: 769px), print {
    .col.is-half, .col.is-half-tablet {
      flex: none;
      width: 50%;
    }
  }
  @media screen and (min-width: 769px), print {
    .col.is-half, .col.is-half-tablet {
      flex: none;
      width: 50%;
    }
  }
  @media screen and (min-width: 769px), print {
    .col.is-half, .col.is-half-tablet {
      flex: none;
      width: 50%;
    }
  }